<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>First, let's get the hard part out of the way.</h1>
      <p><em>I like being upfront and transparent about my rates.</em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h1>$100/hr</h1>
      <p class="rate-desc"><strong>Discounted rate</strong> / Applies to:</p>
      <ul>
        <li>Start-ups burning cash with less than $1M capital raised</li>
        <li>Non-profits</li>
        <li>The New England Patriots</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>$200/hr</h1>
      <p class="rate-desc"><strong>Default rate</strong> / Applies to:</p>
      <ul>
        <li>Start-ups burning cash with more than $1M capital raised</li>
        <li>Cash flow positive start-ups</li>
        <li>Established businesses</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>$300/hr</h1>
      <p class="rate-desc"><strong>Professional services rate</strong> / Applies to:</p>
      <ul>
        <li>Management Consulting</li>
        <li>Private Equity</li>
        <li>Turnaround &amp; Restructuring</li>
        <li>Legal &amp; eDiscovery</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Ok, let's talk…</h1>
    </div>
    <div id="contact-form" class="col-sm-8">
      <form role="form">
        <div class="form-group">
          <input type="text" class="form-control" id="inputName" placeholder="What is your name?">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="inputEmail" placeholder="What is your email address?">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="7" id="textAreaMessage" placeholder="How can I help?"></textarea>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputSource" placeholder="How did you hear about me?">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
    <div id="contact-details" class="col-sm-4">
      <address>
        <strong>New York</strong><br>
        175 Varick Street<br>
        New York, NY 10014<br>
      </address>
      <address>
        <strong>San Francisco</strong><br>
        156 2nd Street<br>
        San Francisco, CA 94107<br>
      </address>
      
      <hr>

      <address>
        <strong>Phone</strong><br>
        +1 (347) 926-3279
      </address>
      <address>
        <strong>Email</strong><br>
        <a href="mailto:contact@adamrneary.com">contact@adamrneary.com</a>
      </address>
      
    </div>    
  </div>

</div>
{{> footer }}