<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-8">

      <h2>Office Hours</h2>

      <p>
        In 2011 I began blocking off a portion of my week for office hours. I
        love it. I have met some really interesting people while solving real
        problems.
      </p>

      <div class="cta">
        <p class="small-sans-serif">
          <strong>OFFICE HOURS</strong> / Now powered by
          <a href="http://try.sohelpful.me/">SOHELPFUL.ME</a>
        </p>
        <a href="https://www.sohelpful.me/adamrneary/appointments_calendars/243/show_schedule" class="btn btn-success">
          Schedule a free 30 minute Skype/Hangout
        </a>
      </div>

      <p>
        If you would like my help with any of my areas of expertise, please
        schedule a call, and I will do my best.
      </p>

      <h2>Freelance Work</h2>

      <p>
        If you have a project you would like to explore, let's talk.
      </p>

      <div id="contact-form">
        <form role="form" action="//forms.brace.io/contact@adamrneary.com" method="POST">
          <div class="form-group">
            <input type="text" name="_name" class="form-control" id="inputName" placeholder="What is your name?">
          </div>
          <div class="form-group">
            <input type="email" name="_replyto" class="form-control" id="inputEmail" placeholder="What is your email address?">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="_message" rows="7" id="textAreaMessage" placeholder="How can I help?"></textarea>
          </div>
          <div class="form-group">
            <input type="text" class="form-control"  name="_source" id="inputSource" placeholder="How did you hear about me?">
          </div>
          <div class="form-group">
            <button type="submit" value="Send" class="btn btn-default">Submit</button>
          </div>
          <input type="hidden" name="_next" value="//adamrneary.com/contact/thanks.html" />
        </form>
      </div>

    </div>

    <div id="contact-details" class="col-sm-4">
      <address>
        <strong>New York</strong><br>
        175 Varick Street<br>
        New York, NY 10014<br>
      </address>
      <address>
        <strong>San Francisco</strong><br>
        156 2nd Street<br>
        San Francisco, CA 94107<br>
      </address>

      <hr>

      <address>
        <strong>Phone</strong><br>
        +1 (617) 830-1854
      </address>
      <address>
        <strong>Email</strong><br>
        <a href="mailto:contact@adamrneary.com">contact@adamrneary.com</a>
      </address>

    </div>
  </div>
</div>
{{> footer }}
