<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>First, let's get the hard part out of the way.</h1>
      <p><em>I prefer to be upfront and transparent about my rate card.</em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h1>$100/hr</h1>
      <p class="rate-desc"><strong>Discounted rate</strong> / Applies to:</p>
      <ul>
        <li>Start-ups burning cash with less than $1M capital raised</li>
        <li>Non-profits</li>
        <li>The New England Patriots</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>$200/hr</h1>
      <p class="rate-desc"><strong>Default rate</strong> / Applies to:</p>
      <ul>
        <li>Start-ups burning cash with more than $1M capital raised</li>
        <li>Cash flow positive start-ups</li>
        <li>Established businesses</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h1>$300/hr</h1>
      <p class="rate-desc"><strong>Professional services rate</strong> / Applies to:</p>
      <ul>
        <li>Management Consulting</li>
        <li>Private Equity</li>
        <li>Turnaround/Restructuring</li>
        <li>Legal/eDiscovery</li>
      </ul>
    </div>
  </div>
</div>
{{> footer }}