<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>I write a bit about everything. I hope you find it interesting.</h1>
      <p><em>
        If you're just in the mood for food porn and family photos,
        you might prefer my <a href="http://adamrneary.tumblr.com/">tumblr</a>.
      </em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ul class="articles">
        <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
        <li><a href="https://medium.com/@adamrneary">Still porting some things over from jekyll.</a></li>
        <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
        <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
        <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
        <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
<!--         <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a><br>
          <em>— Also on <a href="/">Medium</a></em>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li>
        <li>
          <a href="/">This is my article name, say what again!</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
{{> footer }}
