<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>I write a bit about everything. I hope you find it interesting.</h1>
      <p><em>
        If you're just in the mood for family photos and gratuitous food porn,
        you might prefer my <a href="http://adamrneary.tumblr.com/">tumblr</a>.
      </em></p>

      {{> mailing-list-cta}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
        <li><a href="#management" data-toggle="tab">Management</a></li>
        <li><a href="#engineering" data-toggle="tab">Engineering</a></li>
        <li><a href="#health" data-toggle="tab">Health</a></li>
        <li><a href="#rants" data-toggle="tab">Rants</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div class="tab-pane active" id="data">
          <ul class="articles">
            <h2 class='section-header'>Section header</h2>
            <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
            <li><span>Still porting some things over from jekyll. <em> (coming soon)</em></span></li>
            <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
            <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
            <h2 class='section-header'>Section header</h2>
            <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
            <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
          <ul>
        </div>

        <div class="tab-pane" id="management">
          <ul class="articles">
            <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
            <li><a href="https://medium.com/@adamrneary">Still porting some things over from jekyll.</a></li>
            <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
            <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
            <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
            <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
          <ul>
        </div>
        <div class="tab-pane" id="engineering">
          <ul class="articles">
            <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
            <li><a href="https://medium.com/@adamrneary">Still porting some things over from jekyll.</a></li>
            <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
            <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
            <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
            <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
          <ul>
        </div>
        <div class="tab-pane" id="health">
          <ul class="articles">
            <li><span>I'm Busy, but I Lost 50 Pounds. Here's How.<em> (coming soon)</em></span></li>

            <h2 class='section-header'>Diet</h2>
            <li><span>The 5-2 Diet: Itermittent Fasting Is No Fad<em> (coming soon)</em></span></li>
            <li><span>Eating Right for Busy People<em> (coming soon)</em></span></li>
            <li><span>Sustainable Agriculture and Local, Natural Food<em> (coming soon)</em></span></li>
            <li><span>On the Topic of Juice<em> (coming soon)</em></span></li>
            <li><span>Hint: Fat Does Not Make You Fat<em> (coming soon)</em></span></li>
            <li><span>The Ultimate Grocery Store Shopping List<em> (coming soon)</em></span></li>

            <h2 class='section-header'>Exercise</h2>
            <li><span>Changing It Up: New Routines Every 2, 4, or 6 Weeks <em> (coming soon)</em></span></li>
            <li><span>Working Out For Busy People<em> (coming soon)</em></span></li>
            <li><span>Heart Rate Monitoring and Interval Training<em> (coming soon)</em></span></li>
            <li><span>High Intensity Interval Training<em> (coming soon)</em></span></li>
            <li><span>Intervals in the Weight Room<em> (coming soon)</em></span></li>
            <li><span>Intervals on the Treadmill<em> (coming soon)</em></span></li>
            <li><span>Intervals on a Bicycle<em> (coming soon)</em></span></li>
            <li><span>Workout Videos: T25 or P90x<em> (coming soon)</em></span></li>
            <li><span>Hot Yoga: Bikram or Baptiste<em> (coming soon)</em></span></li>

            <h2 class='section-header'>Final Thoughts</h2>
            <li><span>The Daily Weigh-In and the WiFi Scale<em> (coming soon)</em></span></li>
            <li><span>The Feeling of Lightness<em> (coming soon)</em></span></li>

          <ul>
        </div>
        <div class="tab-pane" id="rants">
          <ul class="articles">
            <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
            <li><a href="https://medium.com/@adamrneary">Still porting some things over from jekyll.</a></li>
            <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
            <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
            <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
            <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
          <ul>
        </div>

      </div> <!-- tab content -->
    </div> <!--  col -->
  </div> <!--  row -->
</div> <!--  container -->
{{> footer }}
