<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-8">

      <h2>Almost finished…</h2>

      <p>
        We need to confirm your email address. To complete the subscription
        process, please click the link in the email we just sent you.
      </p>

      <p>
        Thanks!
      </p>

    </div>
  </div>
</div>
{{> footer }}
