<div class='index background'>
  <div class="container">
    {{> nav }}
    <h1>
      I solve problems with data, and I build web applications.<br>
      Sometimes—but not always—at the same time.
    </h1>
  </div>
</div>
  
