<section id="contact-me">
  <div class="row">
    <ul>
      <li>
        <a href="mailto:adam@neary.com">adam@neary.com</a>
      </li>
      <li>
        +1 (347) 926-3279
      </li>
      <li>
        175 Varick Street,  NYC 10014
      </li>
    </ul>
    {{> social }}
  </div>
</section>

<footer id="main-footer">
  <div class="row">
    <p><strong>© 2014 Adam Neary</strong></p>
    <p>
      The content of this site is mine, but the design is largely others'.
      See the <a href="/colophon">colophon</a> for the nitty gritty.
    </p>
  </div>
</footer>
<img class="adam-illustration" src="/assets/img/AdamNeary_Illustration.png">
