<ul class="articles">
  <li><a href="https://medium.com/@adamrneary">Coming soon!</a></li>
  <li><a href="https://medium.com/@adamrneary">Still porting some things over from jekyll.</a></li>
  <li><a href="https://medium.com/@adamrneary">Try again next week.</a></li>
  <li><a href="https://medium.com/@adamrneary">I should have it sorted.</a></li>
  <li><a href="https://medium.com/@adamrneary">In the meantime,</a></li>
  <li><a href="https://medium.com/@adamrneary">I have a couple posts up on Medium to check out!</a></li>
<ul>
