<!-- <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top small-sans-serif" role="complementary">
  <ul class="nav bs-docs-sidenav">

    <li class="active">
      <a href="#what-is-a-b-corporation-">What is a B Corporation?</a>
    </li>
    <li class="">
      <a href="#grid">Mission</a>
      <ul class="nav">
        <li><a href="#grid-intro">Guiding Principles</a></li>
      </ul>
    </li>
    <li>
      <a href="#type">Charitable Giving</a>
      <ul class="nav">
        <li><a href="#type-headings">Sustainable Agriculture</a></li>
        <li><a href="#type-body-copy">Education and Civic Literacy</a></li>
      </ul>
    </li>
    <li>
      <a href="#code">Volunteerism</a>
      <ul class="nav">
        <li><a href="#code-inline">Involvement in the Community</a></li>
        <li><a href="#code-user-input">Office Hours</a></li>
      </ul>
    </li>
    <li>
      <a href="#tables">Environmental Conservation</a>
      <ul class="nav">
        <li><a href="#tables-example">Solar Energy</a></li>
        <li><a href="#tables-striped">Electric Vehicles</a></li>
        <li><a href="#tables-bordered">Carbon Footprint and Offsets</a></li>
      </ul>
    </li>
    <li>
      <a href="#forms">Measurement and Transparency</a>
      <ul class="nav">
        <li><a href="#forms-example">B Impact Report</a></li>
      </ul>
    </li>
    <li>
      <a href="#buttons">Empowering Others</a>
      <ul class="nav">
        <li><a href="#buttons-options">Non-profit and B-Corporation Rates</a></li>
      </ul>
    </li>
  </ul>
</div>

<script>
  $('body').scrollspy({ target: '.bs-docs-sidebar' })
</script> -->
