<div class="cta">
  <p class="small-sans-serif">
    <strong>OFFICE HOURS</strong> / Now powered by
    <a href="https://www.timetrade.com">Time Trade</a>
  </p>
  <a href="https://www.timetrade.com/book/K9XT2" class="btn btn-success">
    Schedule a free 15 minute Skype/Hangout
  </a>
</div>
