<div class="cta">
  <p class="small-sans-serif">
    <strong>OFFICE HOURS</strong> / Now powered by
    <a href="http://try.sohelpful.me/">SOHELPFUL.ME</a>
  </p>
  <a href="https://www.sohelpful.me/adamrneary/appointments_calendars/243/show_schedule" class="btn btn-success">
    Schedule a free 30 minute Skype/Hangout
  </a>
</div>
