<ul class="social">
  <li id="tumblr">
    <a href="http://adamrneary.tumblr.com" title="Tumblr">
      <i class="fa fa-tumblr"></i>
    </a>
  </li>
  <li id="linkedin">
    <a href="http://www.linkedin.com/in/adamrneary" title="Linked In">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  <li id="email">
    <a href="mailto:adam@neary.com" title="Email">
      <i class="fa fa-envelope-o"></i>
    </a>
  </li>
  <li id="twitter">
    <a href="https://twitter.com/adamrneary" title="Twitter">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li id="github">
    <a href="http://github.com/adamrneary" title="GitHub">
      <i class="fa fa-github"></i>
    </a>
  </li>
</ul>
