<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>Here are some of the key design inspirations and decisions</h1>
      <p>
        <em>(…a good number of these inspirations are straight up ripped off!)</em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        I'm no designer, though I do obsess over typography and colors. Guilty
        pleasure. As for the design concepts on this site, many
        are cribbed from other people's sites that I think are awesome.
      </p>
      <p>
        I think this is ok. Led Zeppelin's first two albums come straight out of
        American blues (mostly Howlin' Wolf and Willie Dixon, and in many cases,
        chord for chord and word for word). For those of
        you old enough to remember mix tapes, I actually made a complication
        that played the original before the Zep version, one after the other.
      </p>
      <p>
        The same goes for jazz standards, though jazz musicians tend to be a
        bit more explicit about their sources. That's where I want to land.
        Steal liberally and adapt, but give credit.
      </p>
      <h2>Fonts</h2>
      <p>
        I previously used
        <a href="https://typekit.com/fonts/proxima-nova">Proxima Nova</a> and
        <a href="https://typekit.com/fonts/arno-pro">Arno Pro</a>, a noble pair
        of  Typekit
        fonts, but Proxima Nova has become so recognizable, I wanted to switch
        it out. Recently I read through Matthew Butterick's
        <a href="http://practicaltypography.com/">Pratical Typography</a> and
        really liked what he had to say. I also liked his fonts, so I have
        used them on this site.
      </p>
      <p>
        <a href="http://practicaltypography.com/equity.html">Equity</a> is his
        serif offering, and I think it one-ups Garamond, which says something.
        I find his italic, in particular, absolutely striking. I've always
        preferred serif for body text, but only recently have I fallen out
        of love with sans serif for headings. Throughout this site, I stick
        with 25px fonts or higher where possible, using serif in these cases.
      </p>
      <p>
        <a href="http://practicaltypography.com/concourse.html">Concourse</a>
        is Matthew's sans serif offering. It's more geometric than Proxima,
        which really stands out in the heavier weights (you could shave your
        face using the edge of the capital "N"). But since I'm using
        sans serif only below 25px, the thinner weights are more appropriate.
        I think it looks very clean.
      </p>
      <h2>Colors</h2>
      <p>
        You probably noticed there aren't a ton of colors around. During the
        first wave of flat sites, it was common to see 8 different colors in a
        palette with multiple shades of each.
      </p>
      <p>
        As regular readers will remember, the last version of this site got
        caught up in the trend, but every time I saw the site my eyes hurt. It's
        amazing how soon a style will look dated. So, I went back to a cleaner
        look with a single blue and shades of grey.
      </p>
      <h2>General design influences</h2>
      <ul>
        <li>You'll see a <em>ton</em> of concepts cribbed from
          <a href="http://pjrvs.com/">Paul Jarvis</a>, including using a version
          of the Bootstrap breadcrumbs for a simple nav, sticking with a single
          accent color paired with shades of grey, and keeping it simple
          on article listings
        </li>
        <li>I took the lead from <a href="http://thoughtbot.com/">Thoughtbot</a>
          on the footer and the contact page. Directly.
        </li>
        <li><a href="https://medium.com/">Medium</a> for many typographical
          decisions (mostly having to do with what to leave out)
        </li>
        <li><a href="https://www.readability.com/developers/guidelines/">Readability</a>
          for structuring markup for parsing by RSS and their own service
        </li>
        <li><a href="http://zachholman.com/">Zach Holman's blog</a> for ideas
          about shades of blue and other influences that have gotten squeezed a bit
        </li>
        <li><a href="http://www.imdb.com/name/nm0835016/">Mark Strong</a> is a
          design influence of sorts. I imagine him reading the blog when I think
          it's getting too cute. Usually when Mark Strong "looks at the site" I
          end up taking something superfluous out.
          <small> <em> Perhaps not often enough.</em></small>
        </li>
      </ul>
      <h2>Mechanics and machinery</h2>
      <ul>
        <li>
          Check out the source
          <a href="https://github.com/adamrneary/adamrneary_com/">here</a> on
          Github, and please help yourself to whatever you like.
        </li>
        <li>I am now using <a href="http://assemble.io/">Assemble</a> rather
          than Jekyll to generate the static site. Since most of my work is in
          javascript now, it makes more sense. Plus, I use ruby for server code,
          and the static site has no server, so there's that.
        </li>
        <li>
          I have a pretty nasty <a href="http://gruntjs.com//">Grunt</a>
          workflow you might want to peruse if it interests you. Plus
          <a href="http://bower.io/">bower</a>.
        </li>
        <li>Coffeescript for js, Less for css, and Handlebars for templates</li>
        <li><a href="http://getbootstrap.com">Bootstrap 3</a> as a design
          framework
        </li>
        <li><a href="http://pages.github.com//">Github pages</a>
          for hosting
        </li>
      </ul>
      <p>
        Please feel free to take any parts of the site that you think would be
        useful on yours. No credit necessary, but of course it is nice to let
        people know where you get good ideas!
      </p>
    </div>
  </div>
</div>
{{> footer }}
