<div class="row">
  <div class="col-sm-12">
    {{#markdown}}

# Here are some of the key design inspirations and decisions

_(…a good number of these inspirations are straight up ripped off!)_

    {{/markdown}}
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    {{md "src/content/pages/colophon.md"}}
  </div>
</div>
