ul.articles {
  list-style: none;
  margin-top: 60px;
  padding-left: 0;

  .section-header {
    color: @text-color;
  }
  span {
    color: @gray-light;
  }

  li {
    margin: 15px 0;
  }
}

.back {
  font-size: @font-size-small;
  margin: -32px 0 100px;
  .small-sans-serif;
}

article {
  margin: 100px 0;

  .metadata {
    font-size: @font-size-small;
    margin: 0;
  }

  .hentry {
  margin-top: 60px;
  }

}
