@import '../../tmp/vendor/bootstrap/less/bootstrap.less';
@import '_variables';
@import 'global/_typography';
@import 'global/_nav';
@import 'global/_social';
@import 'global/_header';
@import 'global/_footer';
@import 'global/_listings';
@import 'global/_scaffolding';
@import 'sections/_index';
@import 'sections/_work';
@import 'sections/_writing';
@import 'sections/_doing-good';
@import 'sections/_contact';

html {
  min-width: 1080px;
}

body {
  position: relative;
}

.page-wrapper {
  min-height: 100%;
  position: relative;
}

.container {
  padding-top: 5%;
}

hr {
  width: 50%;
  border-top: 1px solid @gray-light;
  border-bottom: 1px solid @brand-primary;
}

btn {
  font-family: @font-family-sans-serif;
}

.cta {
  background: lighten(@brand-success, 20%);
  border-radius: 5px;
  display: inline-block;
  padding: 20px;
  margin: 20px 0;

  a {
    font-weight: normal;
  }
}

.tab-content {
  margin-bottom: 200px;
}
