<div class="row">
  <div class="col-sm-12">
    <h1>I have spent the last ten years working with data.</h1>
    <div class="row">
      <div class="col-sm-9">
        <p><em>
          Whether you're working with massive
          datasets; small, messy, unstructured data; or data-intensive web
          applications, the
          point is to solve problems, and that's what I like to do.
        </em></p>
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#strategy" data-toggle="tab">Data Strategy</a></li>
      <li><a href="#engineering" data-toggle="tab">Data Engineering</a></li>
      <li><a href="#science" data-toggle="tab">Data Science</a></li>
      <li><a href="#applications" data-toggle="tab">Applications</a></li>
      <li><a href="#prototypes" data-toggle="tab">Prototypes</a></li>
      <li><a href="#advisory" data-toggle="tab">Advisory</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div class="tab-pane active" id="strategy">
        <div class="row small">
          <div class="col-sm-6">
            <p>
              Data engineering, science, and analytics capabilities do not need to
              be scattered among all your other business functions in a siloed or
              haphazard way.
            </p>
            <p>
              Instead, a cohesive data strategy coordinates the movement of data
              between financial and operational systems, web application databases,
              event and log streams, and third party SaaS services. The Data
              function can then coordinate the tools and methods by which all
              this data is tracked, gathered, analyzed, and surfaced.
            </p>
            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="I worked with Product, Engineering, Executive,
                  Finance, Sales, Marketing, and Customer Support teams to
                  assess analytical needs. I then reviewed production and SaaS
                  service data to provide a roadmap for improved data
                  capture and storage as well as tooling for data transformation
                  and reporting. ">
                  Data Strategy Design for a Series A Funded Startup
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="A mid-tier Nonprofit was awarded a sizable grant
                  to establish a performance measurement framework. I worked with
                  them to rethink their data integration strategy, leaning more
                  heavily on SaaS platforms and web services for data integration.
                  Then we built the infrastructure to continually assess and
                  report on performance against their mission.">
                  Performance Measurement Design &amp; Build for a Nonprofit
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Rebuilt key internal processes for a fast-
                  growing software agency (e.g. Invoice-to-Cash, Sales &amp;
                  Operational Planning, Recruiting) and then built an analytical
                  infrastructure to support these processes.">
                  Analytical Infrastructure: London-Based Software Agency
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Performed technical review of a data-intensive
                  software application as part of due diligence for a private
                  equity acquisition. Assessed competitive advantage based on
                  sophistication of technology and level of effort to replicate.
                  Assessed potential technical debt and barriers to growth. ">
                  Technical Diligence for a Data-Intensive Acquisition
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/greg.png">
            <em>
              <p>
                You just don't find a lot of people who really are native in
                both the business and technical realms. Adam brings a world of
                domain expertise in executive, finance, sales, marketing, and
                engineering functions, but he also knows how to work with our
                people to tease out our particular needs.
              <p>
                But then, suddenly the same guy rolls his sleeves up and
                builds data pipelines, message queues, scalable data stores, and
                custom analytical reporting for the entire organization. Insane.
              </p>
            </em>
            <div class="small-sans-serif"><strong>Greg Doran</strong> / CEO / Ticket Evolution</div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="engineering">
        <div class="row small">
          <div class="col-sm-6">
            <p>
              After years of grinding through large, clunky, complex Business
              Intellgience projects, I could not be more excited about how
              dramatically the Data Engineering space has evolved recently.
            </p>
            <p>
              The new world is about pipelines of streaming data managed by
              small, asynchronous, non-blocking processes. We can record
              everything and sift out the insights later. Some things we need to
              know in real time, and we have reactive strategies for
              that. Somethings we can tease out at our leisure, and we have tools
              for that, too.
            </p>
            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="An online labor marketplace had a continuously
                  changing set of companies, users, and projects. Each needed to
                  be scored across a range of variables including features like
                  schools attended. The end solution required real time scoring
                  of all model objects absolutely while also assessing user/project
                  fitness. I built the solution in node.js with Redis PubSub and
                  queueing.">
                  Realtime Multivariate Scoring/Ranking for a Web App
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Emergency data consolidation for Fortune 50
                  auto maker bankruptcy. Required
                  an auditable ETL pipeline for 72 disparate source ERP
                  systems to support
                  reporting for restructuring. Different charts of accounts,
                  different systems,
                  different data formats.">
                  Bankruptcy Data Consolidation: Fortune 500 Automotive
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Built a system and process to manage research
                  data integration for the National Health Service (NHS) in the
                  United Kingdom. The process had to take into consideration
                  very particular statistical methods (i.e. you cannot take
                  averages of averages) despite the large dataset.
                  .">
                  Cancer Research Aggregation Framework
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Re-engineered a painful manual process for
                  aggregating market research data for a UK marketing firm.
                  The new process included piping data through numerous
                  transformations all the way into Excel and PowerPoint. The
                  resulting PowerPoint integration turned a three week process
                  into a twenty minute process. ">
                  Market Research Automation, Reporting, Dashboarding
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Numerous projects (both client and internal)
                  using traditional
                  Kimball Method approaches to ETL, data warehousing, and OLAP
                  for reporting.
                  Old school business intelligence delivered with modern tools.">
                  Kimball method ETL, DW, OLAP, Dashboards
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/stephan.jpg">
            <em>
              <p>
                Coordinating with and consolidating data from hundreds of
                federal government departments is difficult, particularly when
                you are talking about sensitive spend data.
              <p>
                Adam helped us buld the team that could replicate the work his
                team started. His intensity can be a lot to handle, but his
                results are without question!
              </p>
            </em>
            <div class="small-sans-serif"><strong>Stéphan Déry MPA, CPA, CMA, FMA, RPA</strong> / Director General, Strategic Planning, Administration and Renewal / PWGSC Canada</div>
          </div>
        </div>
      </div>


      <div class="tab-pane" id="science">
        <div class="row small">
          <div class="col-sm-6">
            <p>
              The flashy side of Data Science — teasing insights out of massive,
              homogenous data — gets a lot of press, but more often the work involves
              many dirty, disparate datasets that require cleansing and blending,
              categorization and normalization, and more than a little domain
              expertise to contextualize.
            </p>
            <p>
              Sometimes the hardest part is defining what it is we are solving
              for in the first place. That's where a little expertise brings all
              the shiny new tools to life.
            </p>
            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Data discovery and modeling for one of the
                  largest fraud cases in history.
                  Model required matching transfers across thousands of
                  accounts and recursively adjusting
                  balances over 30 years of financial skullduggery with patchy
                  data arriving
                  sporadically to fill gaps. Analysis consumed by the WSJ,
                  FBI, and trustees.">
                  Data Forensics for a Thirty-Year Fraud Case
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Aggregated and cleansed demand signals for a
                  UK-based smart grid company. Built a neural network model
                  (simple machine learning) to predict future demand across
                  millions of nodes given historical behavior and seasonality.
                  Built the predictive model into the company's existing app.">
                  Predictive Model for a Smart Grid Application
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Performed end-to-end supply chain optimization
                  for a Fortune 500 consumer goods company, including
                  manufacturing, warehousing, repackaging, and all stages of
                  distribution. Complexity of the project including >100,000 SKUs
                  with a wide range of manufacturing and repackaging features
                  that required an adapatable product hierarchy and intelligent
                  constraints for each scenario. ">
                  Supply Chain Network Optimization
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Built a cohesive, functional picture of a Fortune
                  500 financial services holding company spanning numerous
                  subsidiaries and myriad financial and operational systems.
                  Worked with CFO and Finance staff from each holding company
                  to reconcile each's varying world views. Prototyped the
                  required financial reporting and transitioned to IT.">
                  Organizational Visibility &amp; Financial Reporting
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/rupert.jpg">
            <em>
              <p>
                Adam has a one-in-a-million analytical mind. In the last year
                alone I saw him solve problems in health care, automotive,
                market research, and energy sectors while rebuilding our
                internal analytics.
              <p>
                Any Statistics grad student can use regression and machine
                learning tools, but Adam also has a trained eye for absorbing
                different domains and distilling oceans of dirty data into
                the salient, useful insights his clients require.
              </p>
            </em>
            <div class="small-sans-serif"><strong>Rupert Morrison</strong> / Managing Director / Concentra</div>
          </div>
        </div>
      </div>



      <div class="tab-pane" id="applications">
        <div class="row small">
          <div class="col-sm-6">
            <p>
              Data-intensive web applications deal with difficult data
              domains, complicated business logic to be modeled, or
              user data that requires intricate cleansing and management right
              within the app.
            </p>
            <p>
              These challenges these applications present are entirely different
              from those that simply produce large volumes of log, event, and
              user data of a more homogenous nature.
            </p>

            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Built a SaaS application for small business finanical
                  planning and analysis using Backbone with a Rails back
                  end, pulling accounting data from Quickbooks and Xero.
                  The use of interactive charts and tables makes planning
                  easier, faster, and more intuitive. Rolled out to 3,500
                  small businesses.">
                  Small Business Financial Planning &amp; Analysis
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Designed, prototyped, built, and rolled out a
                  granular costing model to a 40-facility national hospital
                  network. The model gathers data from existing systems and
                  directly from clinical staff, providing financial and
                  operational views into delivery of each specialty and
                  procedure. A pricing optimization module assisted in
                  negotiating pricing with insurers.">
                  Activity-Based Costing, Pricing Optimization
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Designed, prototyped, built, and rolled out an
                  inventory modeling solution for hospital instrumentation
                  through the sterlization cycle. The model facilitated a move
                  to off-site sterlization and provided the real time logistics
                  support required to ensure clinical delivery. An inventory
                  optimization module assisted procurement in maintaining stock.">
                  Inventory Optimization, Real Time Logistics
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Designed and built an eCommerce site for a SKU-
                  intensive product line (>1,000 products). Used Shopify for
                  the eCommerce platform, Stripe for payments, and Shipwire
                  for logistics. Used grunt to manage local development with
                  LESS and liquid.">
                  eCommerce Design and Implementation
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/adrian.jpg">
            <em>
              <p>
                Consistency of care is paramount in our world, but the "data"
                of our business in largely in the heads of our clinical teams.
                Adam and his team built a solution for us that made it easy
                for busy teams spread throughout the country to calibrate a
                complex model.
              <p>
                This model now drives strategic and operational planning for
                the network, it drives pricing negotiation with insurers, and
                most importantly helps drive an exceptional standard of care
                for all our patients.
              </p>
            </em>
            <div class="small-sans-serif">
              <strong>Adrian Downing</strong> /
              Group Strategy and Business Development Director / Nuffield Health
            </div>
          </div>
        </div>
      </div>




      <div class="tab-pane" id="prototypes">
        <div class="row small">
          <div class="col-sm-6">
            <p>
              At the outset of software application design, speed is the name
              of the game. A working, clickable prototype of an app is worth
              a thousand whiteboard drawings or a hundred wireframes.
            </p>
            <p>
              When you see the app first hand, even without intricate visual
              design, you know what needs changing and can iterate quickly. I
              try to deliver the first version of the application within the
              first week so that the iteration process can begin.
            </p>
            <p>
              Once the prototype is complete and signed off, back end engineers
              having working html templates and css to build against, and visual
              designers and front end engineers have a clean, clear application
              to build against with no UX ambiguity.
            </p>
            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Prototyped a platform to help bookkeepers
                  collaborate with their clients on upcoming and recurring
                  tasks. The platform would integration with a ticketing system
                  (e.g. Zendesk) on the backend to manage workflow and provide
                  bookkeeping clients with a beautiful, professional front end
                  portal. The app was built with coffeescript and sass using
                  the Ember App Kit.">
                  Task Management Platform for Bookkeepers
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Prototyped a site that would allow a wine brand
                  to collect orders prior to bottling production runs of premium
                  blended wines. The site followed the models of Gustin and
                  Kickstarter, using coffeescript, sass, and bootstrap.">
                  Mock up of Wine flash sale site
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/jason_square.png">
            <em>
              <p>
                Software applications are notoriously hard to describe and
                wireframe at the design phase, and some engineering teams take
                months to get to a first working prototype.
              <p>
                Adam is insanely fast when it comes to knocking out initial
                clickable prototypes that demonstrate functionality in a way
                that a business user like me can navigate to pressure test
                what we're building.
              </p>
              <p>
                From our initial conversations to first working prototype was
                literally a matter of days, and then we were iterating.
              </p>
            </em>
            <div class="small-sans-serif"><strong>Jason Hill</strong> / Founder &amp; President / Sound Advice Consulting Group</div>
          </div>
        </div>
      </div>




      <div class="tab-pane" id="advisory">
        <div class="row small">
          <div class="col-sm-6">

            <p>
              As someone who has played both the CEO and CTO roles, I can be
              particularly helpful to non-technical founders building out their
              technical teams — and vice versa.
            </p>
            <p>
              For non-technical founders, I can help scope out minimum
              viable products, navigate early architecture decisions, and build out
              the early technical team, including identifying and vetting CTO
              candidates.
            </p>
            <p>
              For technical founders, I can help think through customer
              acquisition strategy, build the initial
              financial model, and help identify and vet CEO and Sales &amp;
              Marketing candidates.
            </p>
            <p>
              For established businesses, I have experience extensive
              experience building build out a data capability.
            </p>
            <p class="small-sans-serif"><strong>Case Studies</strong></p>
            <ul>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Early stage tech advisory for two non-technical
                  co-founders of a big data oriented fashion startup. Assisted with
                  CTO recruiting by providing technical interviews and introductions.
                  Team has since raised $4.5M and is trending to cash flow positive.">
                  Technical Advisory at Hukkster
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Created 1 of 4 revenue-generating business
                  units (full P&amp;L responsibility) for a fast-growing UK
                  software agency. In addition to selling and delivering work,
                  I recruited, trained, and developed a team of data analysts
                  and BI engineers. The team was cash flow positive from our
                  first month.">
                  Creating a BI Business Unit at Concentra
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Creation of the Information Management
                  department for a foreign federal government. Built a team of
                  consultants for initial analysis, then assisted with
                  recruiting and training of the initial data team to take over.">
                  Building a Federal Government Data Team
                </a>
              </li>
              <li>
                <a href="javascript:;" class="popover-link" data-toggle="popover"
                  data-content="Hired as one of the first Data Analysts at a
                  traditional management consulting firm. Helped legitimize
                  Data Science as a crucial component of strategy and operations
                  consulting before the craft had caught on, and helped grow the
                  fledgling team to a global force, cash flow positive from the
                  outset.">
                  Growing Data Analytics at A.T. Kearney
                </a>
              </li>
            <ul>
          </div>
          <div class="col-sm-6">
            <img class="headshot" src="/assets/img/work-headshots/katie_square.png">
            <em>
              <p>
                We worked with Adam during the very early stages of starting
                Hukkster, before we even had an internal engineering team.
              <p>
                Adam's experience and perspective helped to bridge the gap
                between the operational and engineering sides of the business.
                We found his insight and guidance helpful as we were both
                making strategic infrastructure decisions as well as building
                our team internally.
              </p>
            </em>
            <div class="small-sans-serif"><strong>Katie Finnegan</strong> / Founder &amp; CEO / Hukkster</div>
          </div>
        </div>
      </div>

    </div> <!-- tab content -->

  <hr>
  <div class="row">
    <div class="col-sm-9">
      <p><em>
        Think you could use some help on one of these areas? <br>
        Why don't you schedule some time for us to talk (free of charge)?
      </em></p>
    </div>
  </div>
  <p>

  </p>
  {{> office-hours-cta}}

  </div> <!--  col -->
</div> <!--  row -->
