<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>I have spent the last decade solving problems with data.</h1>
      <p><em>
        (A scary thought, and one that means I was preaching the data gospel
        long before it was cool!)
      </em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        The new term for guys like me is "Data Scientist," but that title sort
        of means everything and nothing. Whether you're working with massive
        datasets; small, messy, unstructured data; or web applications, the
        point is to solve problems, and that's what I like to do.
      </p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <ul class="portfolio">
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class='title'>Interactive Charting</div>
          <img src="/assets/img/sample-portfolio-item.jpg" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <p>
                There are plenty of fantastic javascript charting libraries out
                there, but none were interactive enough for me. I wanted to be
                able to grab the top of a column or a node on a line chart, drag
                it to a new place, and handle the event with a callback.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{{> footer }}
