<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>I have spent the last ten years working with data.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        The new term for people like me is "Data Scientist," but that title sort
        of means everything and nothing. Whether you're working with massive
        datasets; small, messy, unstructured data; or web applications, the
        point is to solve problems, and that's what I like to do.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="specialties"><span>My Specialties</span></div>
      <div class="row">
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
        </div>
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
        </div>
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
        </div>
        <div class="col-sm-6">
          <h2>Application Prototypes</h2>
          <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
          
        </div>
      </div>      
    </div>
  </div>
</div>
{{> footer }}
