<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>Ten years a data guy…</h1>
      <p><em>
        (A scary thought, and one that means I was preaching the data gospel
        long before it was cool!)
      </em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        The new term for guys like me is "Data Scientist," but that title sort
        of means everything and nothing. Whether you're working with massive
        datasets; small, messy, unstructured data; or web applications, the
        point is to solve problems, and that's what I like to do.
      </p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <p>
        Here are a few representative projects I have tackled over the years. I
        have not included any examples where I wasn't hands on coding, though in
        many cases I was leading teams to whom I owe a tremendous debt of
        gratitude.
      </p>
      {{> work-listing }}
    </div>
  </div>
</div>
{{> footer }}
