<div class="container">
  {{> header }}

  <div class="row">
    <div class="col-sm-12">
      <h1>I have spent the last ten years working with data.</h1>
      <div class="row">
        <div class="col-sm-9">
          <p>
            The new term for people like me is "Data Scientist," but that title sort
            of means everything and nothing. Whether you're working with massive
            datasets; small, messy, unstructured data; or web applications, the
            point is to solve problems, and that's what I like to do.
          </p>
        </div>
      </div>
      <div class="specialties"><span>My Specialties</span></div>
      <div class="row">
        <div class="col-sm-6">
          <h2>Data Strategy &amp; Implementation</h2>
          <p>
            Your data is all over: Financial and operational systems, 
            your own web application dbs, event and log streams, and third party 
            SaaS services. Worse, your reporting is even more scattered. 
          </p>
          <p>  
            I can drop in to help sort out everyone's analytical needs, and I can 
            implement the solution myself: <br>
            Data capture, transformation, storage, reporting, whatever is needed.
          </p>
          <p class="small-sans-serif"><strong>For example</strong></p>
          <ul>
            <li>say</li>
            <li>what</li>
            <li>again</li>
          <ul>
        </div>
        <div class="col-sm-6">
          <img class="headshot" src="/assets/img/work-headshots/greg.png">
          <em>
            <p>
              Adam treats data strategy as a function in its own right, serving 
              all the other functions in the business.
            <p>
              Even better, he has the business chops to quickly assess what's needed with 
              little direction as well as the technical chops to roll up
              his sleeves and deliver it.
            </p>
          </em>
          <div class="small-sans-serif"><strong>Greg Doran</strong> / CEO / Ticket Evolution</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h2>Analytics, Prediction, Optimization</h2>
          <p>
            Your data is all over: Financial and operational systems, 
            your own web application dbs, event and log streams, and third party 
            SaaS services. Worse, your reporting is even more scattered. 
          </p>
          <p>  
            I can drop in to help sort out everyone's analytical needs, and I can 
            implement the solution myself: <br>
            Data capture, transformation, storage, reporting, whatever is needed.
          </p>
          <p class="small-sans-serif"><strong>For example</strong></p>
          <ul>
            <li>say</li>
            <li>what</li>
            <li>again</li>
          <ul>
        </div>
        <div class="col-sm-6">
          <img class="headshot" src="/assets/img/work-headshots/rupert.jpg">
          <em>
            <p>
              Adam treats data strategy as a function in its own right, serving 
              all the other functions in the business.
            <p>
              Even better, he has the business chops to quickly assess what's needed with 
              little direction as well as the technical chops to roll up
              his sleeves and deliver it.
            </p>
          </em>
          <div class="small-sans-serif"><strong>Rupert Morrison</strong> / Managing Director / Concentra</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h2>Insanely Fast App Prototypes</h2>
          <p>
            Your data is all over: Financial and operational systems, 
            your own web application dbs, event and log streams, and third party 
            SaaS services. Worse, your reporting is even more scattered. 
          </p>
          <p>  
            I can drop in to help sort out everyone's analytical needs, and I can 
            implement the solution myself: <br>
            Data capture, transformation, storage, reporting, whatever is needed.
          </p>
          <p class="small-sans-serif"><strong>For example</strong></p>
          <ul>
            <li>say</li>
            <li>what</li>
            <li>again</li>
          <ul>
        </div>
        <div class="col-sm-6">
          <img class="headshot" src="/assets/img/work-headshots/jason_square.png">
          <em>
            <p>
              Adam treats data strategy as a function in its own right, serving 
              all the other functions in the business.
            <p>
              Even better, he has the business chops to quickly assess what's needed with 
              little direction as well as the technical chops to roll up
              his sleeves and deliver it.
            </p>
          </em>
          <div class="small-sans-serif"><strong>Jason Hill</strong> / Founder &amp; President / Sound Advice Consulting Group</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h2>Data-Intensive Web Applications</h2>
          <p>
            Your data is all over: Financial and operational systems, 
            your own web application dbs, event and log streams, and third party 
            SaaS services. Worse, your reporting is even more scattered. 
          </p>
          <p>  
            I can drop in to help sort out everyone's analytical needs, and I can 
            implement the solution myself: <br>
            Data capture, transformation, storage, reporting, whatever is needed.
          </p>
          <p class="small-sans-serif"><strong>For example</strong></p>
          <ul>
            <li>say</li>
            <li>what</li>
            <li>again</li>
          <ul>
        </div>
        <div class="col-sm-6">
          <img class="headshot" src="/assets/img/work-headshots/sheba.jpg">
          <em>
            <p>
              We import tens of thousands of unique hair extensions for our
              eCommerce business, and our data was as messy as some of our 
              clients' hair!
            <p>
              Adam brought order to our chaos, built out a gorgeous eCommerce 
              solution, and then went to town on inventory, logistics, financial 
              reporting, everything. He's a maniac and a god send.
            </p>
          </em>
          <div class="small-sans-serif"><strong>Sheba Frempong</strong> / Partner / Hair-O-Win Enterprises</div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h2>Technical Advisory, Team Creation</h2>
          <p>
            I have worn both CEO and CTO hats. I know how common
            (and devastating) disconnects between these roles can be.
          </p>
          <p>  
            I am always eager to help non-technical founders scope out minimum 
            viable products, navigate early architecture decisions, and build out 
            the early technical team, including identifying and vetting CTO
            candidates.
          </p>
          <p class="small-sans-serif"><strong>For example</strong></p>
          <ul>
            <li>
              <a href="javascript:;" class="popover-link" data-toggle="popover"
                data-content="Early stage tech advisory for two non-technical 
                co-founders of a big data oriented fashion startup. Assisted with 
                CTO recruiting by providing technical interviews and introductions. 
                Team has since raised $4.5M and is trending to cash flow positive..">
                Technical Advisory at Hukkster
              </a>
            </li>
            <li>Creating a BI Business Unit at Concentra</li>
            <li>Building a Federal Government Data Team</li>
            <li>Growing Data Analytics at A.T. Kearney</li>
          <ul>
        </div>
        <div class="col-sm-6">
          <img class="headshot" src="/assets/img/work-headshots/katie_square.png">
          <em>
            <p>
              As one of two non-technical founders 
            <p>
              Adam was all business, no drama, as 
            </p>
          </em>
          <div class="small-sans-serif"><strong>Katie Finnegan</strong> / Founder &amp; CEO / Hukkster</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> footer }}
