<div class="row">
  <div class="col-sm-12">
    {{#markdown}}

# Doing Good While Doing Well

_Introducing_ **Con Moto**, _a data agency structured as a B-Corporation,
dedicated to having a positive impact on our community and environment while
delivering exceptional client work._

    {{/markdown}}

  </div>
</div>

<div class="row">
  <div class="col-sm-9 doing-good">
    {{md "src/content/pages/con-moto.md"}}
  </div>
  <div class="col-sm-3">
    {{> nav-good}}
  </div>
</div>
