<div class="row">
  <div class="col-sm-12">
    <h1>Doing Good While Doing Well</h1>
    <div class="row">
      <div class="col-sm-9">
        <p>
          <em>Introducing </em><strong>Con Moto</strong>
          <em>, a data agency
          structured as a B-Corporation
          dedicated to having a positive impact on the world while delivering
          exceptional client work.</em>
        </p>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-sm-6">
        <p>
          Data should be treated as a function in its own right, serving
          the other functions in the business.
        </p>
        <p>
          Financial and operational systems, web application databases,
          event and log streams, and third party SaaS services all
          generate data, and the tools and methods by which all this data
          is tracked, gathered, analyzed, and surfaced is evolving at a
          frenetic pace.
        </p>
        <p>
          I help organizations focus on the insights they need most
          urgently and build a well-tuned data operation — even if it is
          one person to start — to ensure data capture, transformation,
          storage, and reporting respond as quickly as the business.
        </p>
        <p class="small-sans-serif"><strong>Case Studies</strong></p>
        <ul>
          <li>
            <a href="javascript:;" class="popover-link" data-toggle="popover"
              data-content="Met with Product, Engineering, Executive,
              Finance, Sales, Marketing, and Customer Support teams to
              assess analytical needs. Then reviewed production and SaaS
              service data to provide recommendations for improved data
              capture and storage as well as tooling for data transformation
              and reporting. ">
              Data Strategy Assessment: Series A Funded Startup
            </a>
          </li>
          <li>
            <a href="javascript:;" class="popover-link" data-toggle="popover"
              data-content="Rebuilt key internal processes for a fast-
              growing software agency (e.g. Invoice-to-Cash, Sales &amp;
              Operational Planning, Recruiting) and then built an analytical
              infrastructure to support these processes.">
              Analytical Infrastructure: London-Based Software Agency
            </a>
          </li>
          <li>
            <a href="javascript:;" class="popover-link" data-toggle="popover"
              data-content="Performed technical review of a data-intensive
              software application as part of due diligence for a private
              equity acquisition. Assessed competitive advantage based on
              sophistication of technology and level of effort to replicate.
              Assessed potential technical debt and barriers to growth. ">
              Technical Diligence: Data-Intensive Software Acquisition
            </a>
          </li>
        <ul>
      </div>
      <div class="col-sm-6">
        <img class="headshot" src="/assets/img/work-headshots/greg.png">
        <em>
          <p>
            You just don't find a lot of people who really are native in
            both the business and technical realms. Adam brings a world of
            domain expertise in executive, finance, sales, marketing, and
            engineering functions, but he also knows how to work with our
            people to tease out our particular needs.
          <p>
            But then, suddenly the same guy rolls his sleeves up and
            builds data pipelines, scalable data stores, and custom
            analytical reporting for the entire organization.
          </p>
        </em>
        <div class="small-sans-serif"><strong>Greg Doran</strong> / CEO / Ticket Evolution</div>
      </div>
    </div>

  {{> office-hours-cta}} -->

  </div> <!--  col -->
</div> <!--  row -->
